**/*.csv
**/*.pkl
**/*.jpg
**/*.bin
**/*.tsv
**/__pycache__
**/*.pyc
.dockerignore
.git

env/
Dockerfile
README.md
.gitignore
.gitlab-ci.yml
.pytest_cache
.coverage
.coverage_report
.dockerignore
.scannerwork
.sonar
cover
Dockerfile
Jenkinsfile
coverage.xml
nosetests.xml
test_result.xml
pylint.out
openshift-deploy/
fastText-0.1.0
